body {
    background: #e4bf06;
    overflow-x: hidden;
    display: block;
}

.menu {
    display: flex;
    background-color: #2d2c2c;
    color: 	#e4bf06;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
 }

 .menu .busca img {
     display: flex;
     justify-content: center;
     justify-content: center;
     width: 15px;
     height: 15px;
 }

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 40px 10px 40px 40px;
    font-style: italic;
    font-weight: 700;
}

h1:hover {
    cursor: pointer;
    font-size: 35px;
    color: #e4bf06;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

.busca {
    background-color: #e4bf06;
    border: solid 0px;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    padding: 2px;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
}
button {
    width: 80px;
    height: 20px;
    position: relative;
    flex-flow: wrap column;
    padding: 2 px;
    background-color: #e4bf06;
    color: white;
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    width: 90px;
    height: 25px;
    padding: 3px;
    color: #e4bf06;
    box-shadow: 0 0 25px #d35400;
    text-shadow: 0 0 25px #d35400;
}

a {
    text-decoration: none;
    color: 	#2d2c2c;
    margin: auto;
}

a:hover {
    text-decoration: none;
    color: white;
}

.pricipal {

    height: 300px;
}

 main {
     display: block;
     justify-content: center;
     width: auto;
     height: auto;
     margin-right: 25px;
 }

.container-filmes-01 {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 14px 14px 7px 14px;
}

.container-filmes-02 {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 7px 14px 14px 14px;
}

.poster{
    width: 125px;
    height: auto;
    border-radius: 2%;
    border-color: ;
}

.poster:hover {
    cursor: pointer;
    width: 200px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 25px #2d2c2c;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #2d2c2c;
    color: #e4bf06;
    width: 100%;
    height: auto;
    padding: 10px;
}

.rodape {
    display: flex;
    height: 40px;
    list-style: none;
    color: #e4bf06;
}

.socialMedia {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: center;
}

.socialMedia li {
    position: relative;
    display: block;
    font-size: 25px;
    height: 25px;
    width: 25px;
    line-height: 30px;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
    border-radius: 50%;
}

.socialMedia li:hover {
    font-size: 30px;
    height: 30px;
    width: 30px;
}
.socialMedia li:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    transform: scale(.8);
    z-index: -1;
    transition: .5s;
}
/*
.socialMedia li:nth-child(1):before {
    background #1DA1F2;
}


.socialMedia li:nth-child(2):before {
    background: #4267B2;
}


.socialMedia li:nth-child(3):before {
    background: #ff0000;
}


.socialMedia li:nth-child(4):before {
    background: #E1306C;
}

.socialMedia li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
}

.socialMedia li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #1DA1F2;
}

.socialMedia li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #4267B2;
}

.socialMedia li:nth-child(3):hover:before {
    box-shadow: 0 0 15px #ff0000;
}
.socialMedia li:nth-child(4):hover:before {
    box-shadow: 0 0 15px #E1306C;
} */

/* ul li:nth-child(1):hover {
    color: #26a4f2;
    box-shadow: 0 0 15px #1DA1F2;
    text-shadow: 0 0 15px #1DA1F2;
}

ul li:nth-child(2):hover {
    color: #456cba;
    box-shadow: 0 0 15px #4267B2;
    text-shadow: 0 0 15px #4267B2;
}

ul li:nth-child(3):hover{
    color: #ff1a1a;
    box-shadow: 0 0 15px #ff0000;
    text-shadow: 0 0 15px #ff0000;
  }

  ul li:nth-child(4):hover{
    color: #e23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #E1306C;
  } */

 .socialMedia li:hover {
    color: #e4bf06;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
 }

 .copyright i {
     height: 10px;
 }

 .copyright:hover{
    color: #e4bf06;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
    transition: .5s;
 }

 @media(max-width:768px){
     body {
         display: block;
         position: relative;
     }

     .menu h1 {
         margin: 0;
         margin: 0;
     }

     .container {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: initial;
         margin-top: 15px;
     }

     .container button {
         width: auto;
         height: auto;
         margin-right: 40px;
     }

     .container-filmes-01 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px; 
        margin-left: 15px;
     }
     
     .container-filmes-02 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: -9px;
 }