body {
    background: #ebeb05;
    overflow-x: hidden;
    display: block;
}

.menu {
    display: flex;
    background-color: #2d2c2c;
    color: 	#ebeb05;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
 }

 .menu .busca {
     background-color: #ebeb05;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 320px;
     height: 30px;
     display: flex;
     border: solid 0px;
     border-radius: 5px;
 }

 .menu .busca .btn {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     margin-left: 20px;
     border-color: #ebeb05 ;
     border-radius: 50%;
     text-decoration: none;
 }

 .menu .busca input {
     width: 80%;
     height: 15px;
     margin-left: 10px;
 }

 .menu .busca img {
     display: flex;
     justify-content: center;
     justify-content: center;
     width: 15px;
     height: 15px;
     margin-right: 20px;
 }

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin: 40px 10px 40px 40px;
    font-style: italic;
    font-weight: 700;
}

h1:hover {
    cursor: pointer;
    font-size: 40px;
    color: #ebeb05;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    width: 80px;
    height: 30px;
    position: relative;
    flex-flow: wrap column;
    padding: 2 px;
    background-color: #ebeb05;
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
    padding: 3px;
    color: #ebeb05;
    box-shadow: 0 0 25px #d35400;
    text-shadow: 0 0 25px #d35400;
}

a {
    text-decoration: none;
    color: 	#2d2c2c;
    margin: auto;
}

a:hover {
    text-decoration: none;
    color: white;
}

 main {
    display: block;
    justify-content: center;
    width: auto;
    height: auto;
    margin-right: 25px;
 }

.container-filmes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.poster{
    width: 150px;
    height: auto;
    border-radius: 2%;
    margin-bottom: 10px;
}

.poster:hover {
    cursor: pointer;
    transform: scale(1.3);
    height: auto;
    padding: 2px;
    box-shadow: 0 0 25px #2d2c2c;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #2d2c2c;
    color: #ebeb05;
    width: 100%;
    height: auto;
    padding: 20px;
}


.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
}

.socialMedia a {
    background-color: #ebeb05;
    color: #2d2c2c;
    position: relative;
    display: block;
    font-size: 30px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin:  15px 15px;
    cursor: pointer;
    transition: .5s;
    border-radius: 50%;
}

.socialMedia a:hover {
    display: flex;
    font-size: 40px;
    height: 45px;
    width: 45px;
    margin-left: 10px;
}



/* .socialMedia a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    transform: scale(.8);
    z-index: -1;
    transition: .5s;
} */

 /* .socialMedia a:hover {
    color: #ebeb05;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
 } */

 .copyright i {
     height: 10px;
 }

 .copyright:hover{
    color: #ebeb05;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
    transition: .5s;
 }

 /* Iniciando media query */

 @media (max-width: 600px) {
     nav h1 {
         font-size: 40pt;
     }

     nav h1:hover {
        cursor: pointer;
        transform: scale(1.5);
        color: #ebeb05;
        box-shadow: 0 0 15px #d35400;
        text-shadow: 0 0 15px #d35400;
    } 

    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .busca {
        width: 100%;
        height: 40px;
        display: row;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }

    .busca input {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 20px;
        margin-left: 0;
    }

    .busca img {
        width: auto;
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .container button {
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: 0.25px;
    }

    .container button:hover {
        cursor: pointer;
        padding: 3px;
        color: #ebeb05;
        box-shadow: 0 0 25px #d35400;
        text-shadow: 0 0 25px #d35400;
    }

    .container-filmes {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 40px;;
        
    } 

    .poster {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin: 40px;
    }

    .poster:hover {
        cursor: pointer;
        transform: scale(1.2);
        height: auto;
        padding: 2px;
        box-shadow: 0 0 25px #2d2c2c;
    }
 }
    