body {
    font: normal Arial;
}

body background {
    opacity: 1%;
}

h1 {
    background-color: black;
    font-size: xx-large;
    color: white;
    margin-top: 30px;
    text-align: center;
}

h2 {
    font-size: x-large;
    margin: 30px;
    text-align: center;

}

.box-pergunta{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    background-color: white;
    width: 70%;
    height: 200px;
} 

button {
    display: flex;
    justify-content: center;
    align-self: end;
}

.box-resposta{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-top: 30px;
    margin-left: auto;
    border-radius: 20px;
    background-color: white;
    width: 70%;
    height: 100px;
}
