* {
    font: normal Arial;
}
h1 {
    background-color: black;
    font-size: xx-large;
    color: white;
    margin-top: 30px;
    text-align: center;
}

h2 {
    font-size: x-large;
    margin: 30px;
    text-align: center;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    background-color: white;
    width: 70%;
    height: auto;
}

.selecao button {
    font-size: 12pt;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color:#6fb82b;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 10px;
    border: none;
}

.selecao button:hover {
    cursor: pointer;
    text-decoration: none;
    width: 120px;
    height: 50px;
}